@use "../variables";

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0 ,0) 0%, var(--dark-green) 30%);
    padding: 0  calc(var(--large-gap) * 5) var(--large-gap)  calc(var(--large-gap) * 5);
    gap: 3rem;

    h2, p {
        color: var(--white);
    }

    p {
        margin-bottom: var(--small-padding);
    }
}

@media (max-width: variables.$breakpoint) {
    .about{
        flex-direction: column;
        background: linear-gradient(180deg, rgba(0, 0, 0 ,0) 0%, var(--dark-green) 8%);
        padding: 0  0.5rem var(--large-gap) 0.5rem;
    }

}