@use "../variables";

footer {
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    .contact,
    .continents {
        background-color: var(--dark-green);
        padding: var(--large-gap);
        border-top: 2px solid var(--white);
    }

    .continents {
        border-right: 2px solid var(--white);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: var(--inner-component-padding);

        p {
            margin-bottom: 1rem;
        }

        div {
            width: fit-content;
        }

        ul {
            li {
                font-weight: 200;
                font-size: 1rem;
                margin-bottom: 1rem;
            }

            a {
                
                color: var(--white);
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;

        .follow {
            font-family: "Guilty Pleasure";
            font-size: 4rem;
            margin-bottom: var(--inner-component-padding);
            user-select: none;
        }

        ul {
        margin-top: auto;
        margin-bottom: var(--large-gap);
        display: flex;
        gap: var(--inner-component-padding);
    }
    }
}

.footer-menu{
    & a{
        color: var(--white);
    }
}

@media (max-width: variables.$breakpoint) {
    footer {
        grid-template-columns: 1fr;
        .continents {
            border-right: none;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    }
}