:root {
  --gray: hsl(0, 0%, 26%);
  --white: hsl(30, 9%, 96%);
  --green: hsl(145, 26%, 45%);
  --green-transparent: hsla(145, 26%, 45%, 0.65);
  --dark-green: hsl(168, 10%, 19%);
  --brown: hsl(24, 7%, 42%);
  --brown-transparent: hsla(26, 7%, 42%, 0.75);
  --black: hsl(0, 0%, 0%);
  --lighter-blue: hsla(194, 68%, 85%, 0.30);
  --light-blue: hsla(196, 49%, 82%, 0.29);

  --inner-section-padding: 4.5rem;
  --inner-component-padding: 2.75rem;
  --small-padding: 1.25rem;
  --large-gap: 3.75rem;

  --font-size: 1.25rem;
  --ease: cubic-bezier(.14,.8,.4,1);
  
  font-family: 'Inter';
}

$breakpoint: 1000px;
$element-width: 1300px;
$half-width: calc(($element-width / 2) - (var(--large-gap) / 2))